@import '../Section/variables.scss';
@import '../../style/variables.scss';
@import '../../style/mixins.scss';


.menu {
  background: #ffffff;
  display: block;
  flex-direction: column;
  height: 0;
  height: 100%;
  left: -100%;
  overflow: auto;
  padding: 3em 0.25em;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: left 0.5s ease-out;
  width: 100%;
  z-index: 2000;

  &.menu_isOpen {
    left: 0;
    pointer-events: auto;
  }
}
.menuList {
  @include resetList;

  & .menuList {
    border-left: solid;
    margin-left: 0.5em;
    padding-left: 0.5em;
  }
  &.menuList_paddingBottom {
    padding-bottom: 2em;
  }
}
.menuListEntry {
  display: flex;
  flex-direction: column;
}
.menuListEntryLink {
  @include resetLink;
  padding: 0.5em;

  &:hover,
  &:focus {
    color: $accentColor;
    text-decoration: underline;
  }
  &.menuListEntryLink_isActive {
    color: $accentColor;
    font-weight: 700;
  }
  &.menuListEntryLink_isParent {
    font-weight: 700;
  }
}
