@import '../../style/variables.scss';
@import '../../style/mixins.scss';


.pageList {
  @include resetList;

  & .pageList {
    padding-left: 1.5em;
  }
}
.pageListEntry {
}
.pageListEntryExpand {
  @include resetButton;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em;
  width: 1.5em;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}
.pageListEntryLink {
  @include resetLink;
  @include menuHover;
  display: inline-block;
  padding: 0.5em;

  .pageListEntryExpand + & {
    padding-left: 0;
  }
  &.pageListEntryLink_isActive {
    color: $accentColor;
    font-weight: 700;
  }
  &.pageListEntryLink_isParent {
  }
}
