.hamburger {
  height: 2em;
  position: relative;
  width: 2em;
}

.hamburgerStrokeFirst,
.hamburgerStroke,
.hamburgerStrokeLast {
  background-color: currentColor;
  border-radius: 2px;
  bottom: 0;
  height: 10%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  transition: transform 0.5s ease-in-out;
  width: 75%;
}
.hamburgerStrokeFirst {
  transform: translateY(250%);

  .hamburger.hamburger_isOpen & {
    transform: translateY(0) rotate(-135deg);
  }
}
.hamburgerStroke {
  .hamburger.hamburger_isOpen & {
    transform: rotate(-135deg);
  }
}
.hamburgerStrokeLast {
  transform: translateY(-250%);

  .hamburger.hamburger_isOpen & {
    transform: translateY(0) rotate(-225deg);
  }
}
