@import '../../style/mixins.scss';
@import '../../style/variables.scss';
@import './variables.scss';


.section {
  display: flex;
  position: relative;
}

.foreground {
  background: #ffffffcc;
  padding: 2.5em;
  position: relative;
  z-index: 100;

  @media (max-width: $breakpointSmall - 1) {
    background: #ffffff;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 70vh;
    margin-bottom: -30vh; // use some tricks to change when image is switching
    width: 100%;

    .section:not(:first-child) & {
      margin-top: 100vh;
    }
    .section:last-child & {
      margin-bottom: 40vh;
    }
  }
  @media (max-width: $breakpointXSmall - 1) {
    margin-left: 0;
    margin-right: 0;
  }
  @media (min-width: $breakpointSmall) {
    margin-left: auto;
    max-width: 80vw;
    padding-top: 50vh;
    width: 28em;

    .section:first-child & {
      padding-top: 70vh;
    }
  }
}

.quote {
  background: #ffffff;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0;
  padding: 1em;
  position: relative;

  @media (max-width: $breakpointSmall - 1) {
    bottom: 0 !important; // disable inline style
    margin: -1em -1em 2em -1em;
  }
  @media (min-width: $breakpointSmall) {
    right: 35vw;
    width: 34em;
  }
}
.quote:before,
.quote::after {
  font-size: 500%;
  position: absolute;
  text-shadow: 0 0 80px #ffffff;
}
.quote:before {
  bottom: -5.3rem;
  content: "”";
  left: -0.1em;

}
.quote:after {
  content: "“";
  right: -0.1em;
  top: -2.8rem;
}
.quoteAuthor {
  display: block;
  font-size: 1rem;
  font-style: normal;
  text-align: right;
}

.content {
  overflow: hidden;
}

.sectionLink {
  @include resetLink;
  background: $accentColor;
  color: #ffffff;
  display: block;
  font-weight: bold;
  margin-top: 4em;
  padding: 1em 2em;
  text-align: center;

  &:hover,
  &:focus {
    background: $accentHoverColor;
  }
}

.background {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.backgroundImage {
  background-position: center;
  background-size: cover;
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  transform-origin: 10% 90%;
  transition: opacity 0.5s ease-in-out;
  will-change: transform, opacity;

  &.backgroundImage_hidden {
    opacity: 0;
  }
}
