.section {
  display: flex;
  overflow: hidden;
  position: relative;
  min-height: 140vh;
}

.foreground {
  background: #FAFAFACC;
  margin-left: auto;
  max-width: 80vw;
  padding: 70vh 2em 2em 4em;
  position: relative;
  width: 28em;
  z-index: 100;
}

.quote {
  background: #FAFAFA;
  color: #000000;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0;
  padding: 1em;
  position: relative;
  right: 18em;
  width: 34em;
}
.quote:before,
.quote::after {
  font-size: 500%;
  position: absolute;
  text-shadow: 0 0 80px #FAFAFA;
}
.quote:before {
  bottom: -5.4rem;
  content: "“";
  left: -0.15em;

}
.quote:after {
  content: "”";
  right: -0.15em;
  top: -3rem;
}
.quoteAuthor {
  display: block;
  font-size: 1rem;
  font-style: normal;
  text-align: right;
}

.background {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.backgroundImage {
  background-size: cover;
  bottom: 0;
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: 20% 80%;
  transition: opacity 0.5s ease-in-out;
  will-change: transform, opacity;
}

.backgroundImage.backgroundImage_hidden {
  opacity: 0;
}
